.color{

    &.c-green{
        background: #aaf3bb !important;
        color: #28a745 !important;;
    }

    &.c-red {
        background: #f5aeb5 !important;
        color: #ad3d48 !important;
    }
}