<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DB_A6B512_dmatarrita2Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5086.site4now.net;initial catalog=DB_A6B512_dmatarrita2;persist security info=True;user id=DB_A6B512_dmatarrita2_admin;password=testprogra4ASP;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DB_A6B512_dmatarrita2Entities1" connectionString="metadata=res://*/EntityCarritoCompras.CarritoCompras.csdl|res://*/EntityCarritoCompras.CarritoCompras.ssdl|res://*/EntityCarritoCompras.CarritoCompras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5086.site4now.net;initial catalog=DB_A6B512_dmatarrita2;persist security info=True;user id=DB_A6B512_dmatarrita2_admin;password=testprogra4ASP;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Capa.AccesoDatos.Properties.Settings.DB_A6B512_dmatarrita2ConnectionString"
      connectionString="Data Source=sql5086.site4now.net;Initial Catalog=DB_A6B512_dmatarrita2;Persist Security Info=True;User ID=DB_A6B512_dmatarrita2_admin;Password=testprogra4ASP;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>